@import url("common.css");

form{
    position: fixed;
    top:50%;
    left:40%;
}

#help{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 37.5%;
    z-index: 999;
}

#help:hover{
    background-color: aliceblue;
}

#mensaje{
    border: 5px;
    border-color: black;
    border-style: solid;
    text-align:center;
    display: none;
    position: fixed;
    background-color: ghostwhite;
    top: 55%;
    right: 47%;
    width: 30%;
    z-index: 999;
}