#logout{
    display: none;
    border-radius: 10%;
    background-color: red;
    color: white;
}

#login{
    border-radius: 10%;
    background-color: aqua;
}

#username{
    display: none;
    margin-right: 50px;
}