@import url("common.css");

form{
    position: fixed;
    top:50%;
    left:37%;
}

form button{
    border-radius: 10%;
    background-color: #4CAF50;
    color: white;
}

#help{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 33%;
    z-index: 999;
    background-color: aqua;
}